Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


holmfirth-town-centre-west-yorkshire


golf-wnh3


DigitalTwinV2.code-workspace
MetaHumans
GolfCustoms
